<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="11" android:versionName="1.0" package="com.tag.IdApp" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BIND_NFC_SERVICE" />
	<uses-permission android:name="android.permission.NFC" />
	<uses-permission android:name="android.permission.NFC_TRANSACTION_EVENT" />
	<uses-feature android:name="android.hardware.nfc" android:required="false" />
	<application android:label="TAG ID" android:icon="@mipmap/icon">
		<provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true" android:requestLegacyExternalStorage="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
		<activity android:icon="@mipmap/icon" android:label="TAG ID" android:name="mobile">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="iotid" />
				<data android:scheme="iotdisco" />
				<data android:scheme="iotsc" />
				<data android:scheme="tagsign" />
				<data android:scheme="edaler" />
				<data android:scheme="obinfo" />
				<data android:scheme="xmpp" />
			</intent-filter>
		</activity>
	</application>
</manifest>