<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678379753302-ok96ukr917rb5abufrqlmhdmmnc4288r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678379753302-ok96ukr917rb5abufrqlmhdmmnc4288r</string>
	<key>API_KEY</key>
	<string>AIzaSyD8KHBQ1nrHT1WuqbXkbHzjenvrO0-1bRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>678379753302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trustanchorgroup.neuroid</string>
	<key>PROJECT_ID</key>
	<string>tag-id-b4574</string>
	<key>STORAGE_BUCKET</key>
	<string>tag-id-b4574.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678379753302:ios:bc34381b725033775290f7</string>
</dict>
</plist>